<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>
<h2>top 5 most reviewed products</h2>
        <% for(var i in userDetails1) { %>

        <p><%= userDetails1[i].rated_by %> <%= userDetails1[i].rated_by %></p>
        <p><%= userDetails1[i].name %> <%= userDetails1[i].image_url %></p>

        <% } %>
        <p>This is the home page and we change it.</p>

<h2>top 5 rated products</h2>
        <% for(var i in userDetails2) { %>
            <p><%= userDetails2[i].rated_by %> <%= userDetails2[i].rated_by %></p>
            <p><%= userDetails2[i].name %> <%= userDetails2[i].image_url %></p>

            <% } %>
            <p>This is the home page and we change it.</p>
    
<h2>top 3 distributers</h2>
            <% for(var i in userDetails3) { %>
                <p><%= userDetails3[i].firm_name %> <%= userDetails3[i].logo %></p>
                <p><%= userDetails3[i].location %> <%= userDetails3[i].added_product %> </p>
                <% } %>
                <p>This is the home page and we change it.</p>
        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
