<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>
       
        <h1> <%= userDetails4.name %></h1>
        <h2> DESCRIPTION: <%= userDetails4.description %></h2>
        <h3> <%= userDetails4.image_url %></h3>
        <h4> FAQ :<%= userDetails4.faq %></h4>

        <h2> Average rating : <%= userDetails5[0].avg %></h2>

        <h2>REVIEWS </h2>
       
        <% for( var i in user_reviews ) { %>
           <h3><%= user_reviews[i].details.name %> </h3> 
            <h3>rating : <%= user_reviews[i].details.rating %> </h3> 
            <h3> review : <%= user_reviews[i].details.review %> </h3> 
            <h3> time : <%= user_reviews[i].details.creation_timestamp %> </h3> 
            <h3> like <%= user_reviews[i].details.like %> </h3> 
            <h3> dislike <%= user_reviews[i].details.dislike %> </h3> 
            <h3> inappropriate <%= user_reviews[i].details.inappropriate %> </h3> 
            <h3> spam <%= user_reviews[i].details.spam %> </h3> 
            
            <% } %>  
            <h2> VENDORS : </h2>
            
            <% for( var i in userDetails7 ) { %>
                <h3><%= userDetails7[i].firm_name %> </h3> 
                 <h3>location: <%= userDetails7[i].location %> </h3> 
                 <% } %> 
        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
