<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search</title>
</head>
<body>
    <h1>THIS IS SEARCH PAGE</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum, quod doloribus officiis tempore aut neque praesentium, nam doloremque asperiores quidem, distinctio in. Nihil quae explicabo impedit iste vel! Exercitationem.</P>
    <br><br><br><br>
    <% if(isvendor) {%>
        <% for(var i in product) { %>
            <div class="abc"> <h2><%= product[i].firm_name%>       <%=product[i].logo%>           <%=product[i].location%></h2> </div>
          <%}%>
   <% } else { %>
    <% for(var i in product) { %>
      <div > <span>><%= product[i].name%>       <%=product[i].image_url%>           <%=product[i].product_url%></span> </div>
    <%}%>
           <% } %> 
</body>
</html>