<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>
       
        <h1> Name : <%= userDetails4.name %></h1>
        <h2> Firm Name <%= userDetails4.firm_name %></h2>
        <h2> Location<%= userDetails4.location %></h2>
        <h2> logo :  <%= userDetails4.logo %></h2>
        <h2> GST No. :<%= userDetails4.gst_no %></h2>
        <h2> Pan No. :<%= userDetails4.pan_no %></h2>
        <h2> GST Certificate: :<%= userDetails4.gst_certi %></h2>
        

        <h2>All Products </h2>
       
        <% for( var i in userDetails5 ) { %>
           <h3>Name : <%= userDetails5[i].name %> </h3> 
            <h3>Image : <%= userDetails5[i].image_url %> </h3> 
            <h3> Average Rating : <%= userDetails5[i].avg %> </h3> 
            <h3> Created on  <%= userDetails5[i].creation_timestamp %> </h3>
            
            <% } %>  

           <h2>Recently Added Product </h2>
       
        
               <h3>Name : <%= userDetails6.name %> </h3> 
                <h3>Image : <%= userDetails6.image_url %> </h3> 
                <h3> Created on  <%= userDetails6.creation_timestamp %> </h3>
               
           
        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
